<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> DBIx::Custom </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Connecting to the database </h2>

Use the <strong> connect </strong> method to connect to the database.

<pre>
# connect method
DBIx::Custom->connect($dsn, $user, $password, $dbi_attr, $dbix_custom_attr);
</pre>

The first argument is the data source name, the second argument is the user name, the third argument is the password, and the fourth argument is <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-" HANDLES "> DBI attribute</a>, the fifth argument is the DBIx::Custom attribute.

If the connection is successful, the DBIx::Custom object will be returned as the return value.

The following methods are also provided, but if you do not need them, use the above methods.

<pre>
#connect method (other way)
my $dbi = DBIx::Custom->connect(
  dsn => $dsn,
  user => $user,
  password => $password,
  option => $dbi_attr,
  %dbix_custom_attr
);
</pre>

<h3> Data source name </h3>

Try connecting to SQLite by specifying the data source name.

<pre>
my $dsn = "dbi: SQLite: dbname = bookshop";
my $dbi = DBIx::Custom->connect($dsn);
</pre>

To connect to the database, specify the data source name as the first argument. The data source will be different for each database. If the connection is successful, the DBIx::Custom object will be returned as the return value.

<h3> Username and password </h3>

If a user name and password are required to connect to the database, specify them in the second and third arguments.

<pre>
my $user ='ken';
my $password ='utj4857';
my $dbi = DBIx::Custom->connect($dsn, $user, $password);
</pre>

<h3> DBI attributes </h3>

<a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attributes</a> can be specified with the 4th argument. Up to the 4th argument, it is the same as the argument of DBI's connect method. If you don't need a user and password, set undef.

<pre>
my $dbi_attr = {sqlite_unicode => 1};
my $dbi = DBIx::Custom->connect($dsn, $user, $password, $dbi_attr);
</pre>

The following values ​​are set by default for <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attributes</a>. It throws an exception for the error and the commit is in autocommit mode. This can be overridden.

<pre>
{
  RaiseError => 1,
  PrintError => 0,
  AutoCommit => 1
}
</pre>

<h3> Database connection management </h3>

Connection management for DBIx::Custom is done by a proven and trusted <a href="https://metacpan.org/pod/DBIx ::Connector"> DBIx::Connector</a>.

So DBIx::Custom works fine even when the web application is run on the prefolk server.

Transactions can also be executed using the DBIx::Connector's txn method.

<pre>
#Transaction execution
$dbi->connector->txn(sub {
  #Process 1
  ...

  #Process 2
  ...
});
</pre>

<h3> Connect to MariaDB </h3>

To connect to <a href="https://en.mariadb.perlzemi.com/"> MariaDB</a> using the connect method:

<pre>
# UTF-8
my $dbi = DBIx::Custom->connect("dbi: mysql: database = bookshop",'ken','! LFKD%$&', {mysql_enable_utf8mb4 => 1});

# For 3-byte UTF-8
my $dbi = DBIx::Custom->connect("dbi: mysql: database = bookshop",'ken','! LFKD%$&', {mysql_enable_utf8 => 1});
</pre>

Specify the data source name in the first argument, the database user name in the second argument, and the database password in the third argument. Specify <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attributes</a> in the fourth argument. The return value will be a DBIx::Custom object.

If you set mysql_enable_utf8mb4 to 1 as <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attribute</a>, it will be a database string. It is convenient because it automatically converts Perl's decoded character string and UTF-8 byte string when updating / retrieving. For older MariaDB, which only supports 3 bytes of UTF-8, you can use mysql_enable_utf8.

MariaDB also allows you to easily connect to a remote MariaDB server by specifying a host name or port number.

<pre>
my $dbi = DBIx::Custom->connect("dbi: mysql: database = bookshop; host = somehost.com; port = 3306",'ken','! LFKD%$&');
</pre>

<h3> Connect to MySQL </h3>

To connect to <strong> MySQL </strong> using the connect method:

<pre>
# UTF-8
my $dbi = DBIx::Custom->connect("dbi: mysql: database = bookshop",'ken','! LFKD%$&', {mysql_enable_utf8mb4 => 1});

# For 3-byte UTF-8
my $dbi = DBIx::Custom->connect("dbi: mysql: database = bookshop",'ken','! LFKD%$&', {mysql_enable_utf8 => 1});
</pre>

Specify the data source name in the first argument, the database user name in the second argument, and the database password in the third argument. Specify <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attributes</a> in the fourth argument. The return value will be a DBIx::Custom object.

If you set mysql_enable_utf8mb4 to 1 as <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attribute</a>, it will be a database string. It is convenient because it automatically converts Perl's decoded character string and UTF-8 byte string when updating / retrieving. For older MySQL, which only supports 3 bytes of UTF-8, you can use mysql_enable_utf8.

In MySQL, you can easily connect to a remote MySQL server by specifying the host name and port number.

<pre>
my $dbi = DBIx::Custom->connect("dbi: mysql: database = bookshop; host = somehost.com; port = 3306",'ken','! LFKD%$&');
</pre>

<h3> Connect to PostgreSQL </h3>

To connect to <strong> PostgreSQL </strong> using the connect method:

<pre>
my $dbi = DBIx::Custom->connect("dbi: Pg: dbname = bookshop",'ken','! LFKD%$&', {pg_enable_utf8 => 1});
</pre>

Specify the data source name in the first argument, the database user name in the second argument, and the database password in the third argument. Specify <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attributes</a> in the fourth argument. The return value will be a DBIx::Custom object.

If you set pg_enable_utf8 to 1 as <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attribute</a>, it will be a database string. It is convenient because it automatically converts Perl's decoded character string and UTF-8 byte string when updating / retrieving.

In PostgreSQL, you can easily connect to a remote PostgreSQL server by specifying the host name and port number.

<pre>
my $dbi = DBIx::Custom->connect("dbi: Pg: dbname = $dbname; host = somehost.com; port = 5432;",'ken','! LFKD%$&');
</pre>

<h3> Connect to SQLite </h3>

To connect to <strong> SQLite </strong> using the connect method:..

<pre>
my $dbi = DBIx::Custom->connect("dbi: SQLite: dbname = $database", undef, undef, {sqlite_unicode => 1});
</pre>

Specify the data source name in the first argument. Specify <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attributes</a> in the fourth argument. The return value will be a DBIx::Custom object.

If you set sqlite_unicode to 1 as <a href="https://metacpan.org/pod/DBI#ATTRIBUTES-COMMON-TO-ALL-HANDLES"> DBI attribute</a>, it will be a database string. It is convenient because it automatically converts Perl's decoded character string and UTF-8 byte string when updating / retrieving.

Also, with SQLite, it is convenient to be able to create a database in memory when conducting tests.

<pre>
my $dbi = DBIx::Custom->connect("dbi: SQLite: dbname =: memory:", undef, undef, {sqlite_unicode => 1});
</pre>

<h3> Connect to Oracle </h3>

To connect to <strong> Oracle </strong> using the connect method:

<h4> When connecting with a net service name </h4>

When connecting to Oracle with a net service name, the description is as follows.
 
<pre>
#Connect to Oracle (Net servrice name)
my $dbi = DBIx::Custom->connect("dbi: Oracle: $net_service_name");
</pre>

If you connect with the net service name, you need to define the net service name in the file tnsnames.ora.

tnsnames.ora should be placed in the following path:

<pre>
$ORACLE_HOME / network / admin / tnsnames.ora
</pre>

Below is a sample of tnsnames.ora.

<pre>
mydb =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP) (HOST = localhost) (PORT = 1521))
    )
    (CONNECT_DATA =
      (SID = XE)
    )
  )
</pre>

In this case, mydb is the net service name. Specify the database name in the SID part. In this example, XE is the database name.

<a href="http://www.shift-the-oracle.com/oracle-net/tnsnames.html"> For tnsnames.ora, see this explanation</a> for details.

<h4> When directly specifying the database name </h4>

To specify the database name directly:

<pre>
#Connect to Oracle (SID)
my $dbi = DBIx::Custom->connect("dbi: Oracle: host = localhost; port = 1521; sid = $database");
</pre>

sid is the part that specifies the database name. For example, if you are using the Expression version of Oracle, you can connect by specifying EX. If you do not specify a port number, it will automatically try the ports in the order of 1526, 1521.

<h4> Oracle database name </h4>

In Oracle, there are a lot of things called database names. <a href="http://www.shift-the-oracle.com/config/oracle_sid-db_name-global_name.html"> For more information on Oracle database names, see here</a>.

<h3> Connect to Microsoft SQL Server via ODBC </h3>

To connect to <strong> Microsoft SQL Server </strong> via ODBC using the DBIx::Custom connect method:

<h4> For Windows authentication </h4>

<pre>
#Data source name (Windows authentication)
my $dsn = "dbi: ODBC: driver = {SQL Server}; Server = {localhost \\ SQLEXPRESS};"
  . "Trusted_Connection = yes; AutoTranslate = No; Database = master;";

#Connect
my $dbi = DBIx::Custom->connect($dsn);
</pre>

The data source name starts with "dbi: ODBC:". The value of driver is {SQL Server}. The value specified for Server must be "hostname \\ object name".

If you want to use Windows Authentication, set the value to Yes for Trusted_Connection. AutoTranslate is related to automatic data conversion, but is usually set to No. You can specify the database name you want to connect to Database.

If you want to specify the port number, set the value of Server as follows.

<pre>
#With port number
Server = {localhost \\ SQLEXPRESS, 1433}
</pre>

This setting is also true if you use a regular DBI instead of DBIx::Custom.

<h4> For SQL Server Authentication </h4>

<pre>
#Data source name (SQL Server authentication)
my $dsn = "dbi: ODBC: driver = {SQL Server}; Server = {localhost \\ SQLEXPRESS};"
  . "Trusted_Connection = No; AutoTranslate = No; Database = master;";

#Connect
my $dbi = DBIx::Custom->connect($dsn,'kimoto','iejfid');
</pre>

It is almost the same as the case of Windows authentication, but in the case of SQL Server authentication, set the Trusted_Connection part to No. Also, since SQL Server authentication is password-based authentication, specify password as well.

Also, if you want to connect with SQL Server Authentication, you cannot connect unless SQL Server Authentication is enabled, so you need to check what the settings are.

<a href="http://msdn.microsoft.com/ja-jp/library/ms188670.aspx"> Switching between Windows authentication and SQL Server authentication</a>

Remember to restart SQL Server after changing the settings.

<h3> Connect to Microsoft Access </h3>

To connect to <strong> Microsoft Access </strong> via ODBC using the connect method: (This connection method is the same when using Perl and raw DBI.)

<h4> mdb file </h4>

<pre>
my $dbi = DBIx::Custom->connect("dbi: ODBC: driver = Microsoft Access Driver (* .mdb); dbq = hoge.mdb");
</pre>

Specify the data source name in the first argument. The return value will be a DBIx::Custom object.

Note that joins are not supported in mdb files. This is a Microsoft Access limitation.

<h4> Microsoft Access 2007 accdb file </h4>

First <a href="http://www.microsoft.com/downloads/ja-jp/details.aspx?FamilyID=7554F536-8C28-4598-9B72-EF94E038C891"> Install the ODBC driver for 2007 from here </strong> a> Must be.

Then specify dsn as follows: Note that the above mdb file is slightly different (enclosed in {}).

<pre>
my $dbi = DBIx::Custom->connect("dbi: ODBC: Driver = {Microsoft Access Driver (* .mdb, * .accdb)}; DBQ = hoge.accdb");
</pre>

You can use join in the accdb file, but it seems that you can't include. (Dot) in the column. You can use it correctly by changing the separator to "-" etc. as shown below.

<pre>
$dbi->separator('-');
</pre>

<h4> Microsoft Access 2010 accdb file </h4>

<a href="http://www.microsoft.com/downloads/ja-jp/details.aspx?FamilyID=c06b8369-60dd-4b64-a44b-84b371ede16d"> Install the ODBC driver for 2010 from here</a> > Must be.

The connection method will be the same as that of 2007.

<h3> Connect to DB2 </h3>

To connect to <strong> DB2 </strong> using the connect method:

<pre>
my $dbi = DBIx::Custom->connect("dbi: DB2: db_name", $username, $password);
</pre>

Specify the data source name in the first argument. The return value will be a DBIx::Custom object.