<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> DBIx :: Custom </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Install DBIx :: Custom </ h2>

Use the cpanm or cpan command to install DBIx :: Custom.
<pre>
# cpanm
cpanm DBIx :: Custom

# cpan
cpan DBIx :: Custom
</ pre>

<a href="https://perlzemi.com/blog/20110220130464.html"> perlbrew </a> and <a href="https://perlzemi.com/blog/20180816153437.html"> plenv </a> If you installed <a href="https://perlzemi.com/blog/20101027127859.html"> cpanm </a> when installing>, use cpanm.

<a href="https://perlzemi.com/blog/20180808153368.html"> Strawberry Perl </a> and <a href="https://perlzemi.com/blog/20080602121231.html"> Active Perl < /a>, <a href="https://perlzemi.com/blog/20180806153350.html"> msys2 </a> if you installed Perl with <a href="https://perlzemi.com/blog" Use /20100504127089.html "> cpan </a>.