<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> DBIx :: Custom </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Other functions </ h2>

<h3> Dynamic generation of Order By clause </ h3>

I will explain how to "dynamically create an order by clause" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110928132041.html"> Order By clause generation </a>
  </ li>
</ ul>


<h3> Applied functions </ h3>

Introducing "applied functions".

<h4> SQL generation </ h4>

Here are some useful methods for generating SQL with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110812131778.html"> Introduction of methods for generating SQL </a>
  </ li>
</ ul>

<h4> Filtering </ h4>

I will explain how to use "filtering" with DBIx :: Custom.

<ul>
  <li>
    <a href="/blog/20110926132031.html"> Use filtering </a>
  </ li>
</ ul>

<h4> Table and column information </ h4>

I will introduce a method to check "table and column information".

<ul>
  <li>
    <a href="/blog/20110911131900.html"> Method to look up table and column information </a>
  </ li>
</ ul>

<h4> Utilities </ h4>

Introducing the "Utility" method.

<ul>
  <li>
    <a href="/blog/20110904131900.html"> Introduction of utility methods </a>
  </ li>
</ ul>