<h2> DBIx :: Custom documentation </h2>

DBIx :: Custom is Perl's O / R mapper. An O / R mapper is a module that makes it easy to access the database.

DBIx :: Custom is one of the options you can consider if you find it difficult to work with raw DBI or prefer a simple O / R mapper to a more abstract O / R mapper.

<h3> Features of DBIx :: Custom </h3>

It is a feature of DBIx :: Custom.

<ul>
  <li>
    Easy execution of insert, update, delete, select
  </li>
  <li>
    Batch insert of multiple data, bulk insert is possible if RDBMS is supported
  </li>
  <li>
    Provides a thin layer for SQL. OK when you want to use pure SQL.
  </li>
  <li>
    Flexible where clauses, named placeholders, model support
  </li>
  <li>
    Define a join clause and join the table with a foreign key. You can freely write syntax such as order by clause and limit clause
  </li>
  <li>
    Supports transactions. With connection management, it works correctly even on a prefork server
  </li>
  <li>
    Compatible with MySQL, MariaDB, PostgreSQL, SQLite, Oracle, SQL Server, Microsoft Access
  </li>
  <li>
    Maintains backward compatibility, except for features scheduled to be discontinued in 2018.
  </li>
</ul>

<h3> Connection to database </h3>

Connect to the database.

<pre>
use DBIx :: Custom;

#Connect to SQLite
my $ dbi = DBIx :: Custom-> connect ('dbi: SQLite: dbname = bookshop');

#Connect to MySQL, MariaDB (supports utf8mb4)
#Connection management is done by default and works fine on prefolk servers
my $ dbi = DBIx :: Custom-> connect (
  'dbi: mysql: database = bookshop',
  'ken',
  '! LFKD% $ &',
  {mysql_enable_utf8mb4 => 1}
);
</pre>

<a href="/blog/20110516130787.html"> How to connect to the database</a>

<h3> Creating a model </h3>

Create a model.

<pre>
#Create a model
$ dbi-> model ('book');

#Create a model When defining a join clause
$ dbi-> model (
  table =>'book',
  join => [
    'left join author on book.author_id = author.id',
    'left join publisher on book.publisher_id = publisher.id'
  ]
);
</pre>

<a href="/blog/20110816131802.html"> Model documentation</a>

<h3> insert </h3>

<pre>
Insert with #insert
$ dbi-> model ('book')-> insert ({id => 1, title =>'Perl'});

Insert multiple data with #insert
$ dbi-> model ('book')-> insert (
  [
    {id => 1, title =>'Perl'}
    {id => 2, title =>'Mojolicious'}
  ]
);
Insert multiple data with #insert (bulk insert)
$ dbi-> model ('book')-> insert (
  [
    {id => 1, title =>'Perl'}
    {id => 2, title =>'Mojolicious'}
  ],,
  bulk_insert => 1
);
</pre>

<h3> update </h3>

<pre>
Updated with #uppdate
$ dbi-> model ('book')-> update ({title =>'Perl'}, where => {id => 1});
</pre>

<pre>
Delete with #delete
$ dbi-> model ('book')-> delete (where => {id => 1});
</pre>

<h3> select </h3>

<pre>
Select with #select (all fields)
my $ result = $ dbi-> model ('book')-> select (where => {id => 1});

Select with #select (specify field)
my $ result = $ dbi-> model ('book')-> select (['id','title'], where => {id => 1});

Select with #select (ID is 1 or 2 or 3)
my $ result = $ dbi-> model ('book')-> select (where => {id => [1, 2, 3]});

Select with #select (Peller is included in the title and the price is 2000 yen or less)
my $ result = $ dbi-> model ('book')-> select (
  where => "title like'% Perl%' and price <= 2000"
);

Select with #select (Perl is included in the title and the price is 2000 yen or less) When using variables
# Use named placeholder
my $ title ='Perl';
my $ price = 2000;
my $ result = $ dbi-> model ('book')-> select (
  where => [
    "title like: title and price <=: price",
    {title => $ title, price => $ price}
  ]
);

Select with #select (Peller is included in the title and the price is 2000 yen or less)
#where clause dynamically generated
my $ title ='Perl';
my $ price = 2000;
my $ result = $ dbi-> model ('book')-> select (
  where => [
    ['and', "title like: title", "price <=: price"],
    {title => $ title, price => $ price}
  ]
);

Select with #select (Peller is included in the title and the price is 2000 yen or less or 5000 yen or more)
#Where clause is dynamically generated and multiple conditions are specified with or
my $ title ='Perl';
my $ price1 = 2000;
my $ price2 = 5000;
my $ result = $ dbi-> model ('book')-> select (
  where => [
    ['and', "title like: title", ['or', "price <=: price", "price> =: price"],
    {title => $ title, price => [$ price1, $ price2]}
  ]
);
Select with #select (Peller is included in the title and the price is 2000 yen or less or 5000 yen or more)
#Where clause is dynamically generated and multiple conditions are specified with or
# One price was not specified
my $ title ='Perl';
my $ price2 = 5000;
my $ result = $ dbi-> model ('book')-> select (
  where => [
    ['and', "title like: title", ['or', "price <=: price", "price> =: price"],
    {title => $ title, price => [$ dbi-> not_exists, $ price2]}
  ]
);

Select with #select (Perl is included in the title and the price is 2000 yen or less) When using variables
# Named Placeholder Syntack Sugar
my $ title ='Perl';
my $ price = 2000;
my $ result = $ dbi-> model ('book')-> select (
  where => [
    ": title {like} and: price {<=}",
    {title => $ title, price => $ price}
  ]
);

</pre>

<h2> Explanation of DBIx :: Custom </h2>

This is a commentary article on DBIx :: Custom.

<ul>
  <li> <a href="/blog/20110508130736.html"> Installation</a> </li>
  <li> <a href="/blog/20110516130787.html"> Connecting to the database</a> </li>
  <li> <a href="/blog/20110816131802.html"> Creating a model</a> </li>
  <li> <a href="/blog/20110210130016.html"> select --select row</a> </li>
  <li> <a href="/blog/20110129130016.html"> insert --insert line</a> </li>
  <li> <a href="/blog/20110130130016.html"> update --line update</a> </li>
  <li> <a href="/blog/20110202130016.html"> delete --Delete line</a> </li>
  <li> <a href="/blog/20110708131364.html"> execute --Execute SQL</a> </li>
  <li> <a href="/blog/20110924132031.html"> where-Create condition</a> </li>
  <li> <a href="/blog/20110709131364.html"> Get row data</a> </li>
  <li> <a href="/blog/20200127081842.html"> Other features</a> </li>
</ul>

<h3> All DBIx :: Custom articles </h3>

<ul>
  <li> <a href="/list.html"> All articles</a> </li>
</ul>